{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}

<div class="container">
    <div class="{{ card }}" style="max-width: 18rem;">
        <div class="card-header"><b>Szczegłóły zadania {{ id }}</b></div>
        <div class="card-body">
            <h5 class="card-title">{{ details.todo_title }}</h5>
            <p class="card-text">{{ details.todo_description }}</p>
            <p class="card-text"><b>Priorytet:</b> {{ details.priority }}</p>
        </div>
    </div>
</div>
  {% endblock %}