{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <br/>
    <a class="btn-sm btn-success text-decoration-none" role="button" href="/add_todo">Dodaj zadanie</a>
    <br/><br/>
    <table class="table table-sm">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Zadanie</th>
            <th>Opis</th>
            <th>Priorytet</th>
            <th>Status</th>
            <th>Utworzono</th>
            <th>Akcje</th>
        </tr>
        </thead>
        {% for a in data %}
        <tr>
            <td>{{ a.todo_id }}</td>
            <td>{% if a.status==1 %} <s>{{ a.todo_title }}</s> {% else %} {{ a.todo_title }} {% endif %}</td>
            <td>{% if a.status==1 %} <s>{{ a.todo_description }}</s> {% else %} {{ a.todo_description }} {% endif %}
            </td>
            <td class="text-center">
                {% if a.priority == 1 %}
                <span style="color: red"><b>{{ a.priority }}</b></span>
                {% elif a.priority == 2 %}
                <span style="color: orange"><b>{{ a.priority }}</b></span>
                {% else %}
                <span style="color: green"><b>{{ a.priority }}</b></span>
                {% endif %}
            </td>
            <td>{{ a.status }}</td>
            <td>{{ a.create_at }}</td>
            <td>
                <a class="btn-sm btn-primary text-decoration-none" href="/todos_details?id={{ a.todo_id }}">Pokaż szczegóły</a>
                <a class="btn-sm btn-success text-decoration-none" href="/edit_todo?id={{ a.todo_id }}">Edytuj</a>
                <a class="btn-sm btn-danger text-decoration-none" href="/del_todo?id={{ a.todo_id }}">Usuń</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
  {% endblock %}

